<header>
    <nav>
        <section class="opciones-barra-navegacion-left">    
            <a href="#" class="icono-flecha"><i class="fas fa-arrow-left fa-2x"></i></a>
            <a href="/products/productCart" class="icono-carrito-de-compras"><i class="fas fa-cart-plus fa-2x"></i></a>
        </section>
        
        <a href="/" class="logo-zapas-design"><img src="/<%=urlLogo%>" alt="logo-zapas-design"></a>
        <section class="opciones-barra-navegacion-right">
            <a href="/user/login" class="icono-usuario-login"><i class="fas fa-user fa-2x"></i><span><%=(user?.nombre || "")%></span></a>
            <a href="#" class="icono-menu-hamburguesa"><i class="fas fa-bars fa-2x"></i></a>
        </section>
    </nav>
</header>