<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/index.css">
    <title>Zapas Design</title>
</head>
<body>
    
    <header>
        <nav>
            <section class="opciones-barra-navegacion-left">    
                <a href="#" class="icono-menu-hamburguesa"><i class="fas fa-bars fa-2x"></i></a>
                <a href="#" class="icono-lupa"><i class="fas fa-search fa-2x"></i></a>
            </section>

            <a href="#" class="logo-Zapas-Design"><img src="static/img/logo-Zapas-Design.svg" alt="logo-Zapas-Design"></a>
            
            <section class="opciones-barra-navegacion-right">
                <a href="#" class="icono-usuario-login"><i class="fas fa-user fa-2x"></i></a>
                <a href="#" class="icono-carrito-de-compras"><i class="fas fa-cart-plus fa-2x"></i></a>
            </section>
        </nav>
    </header>

    <main>
        <section class="section-descripcion">
            <p>
                Breve descripcion de la imagen
            </p>
            <i class="fas fa-angle-double-down fa-2x"></i>
        </section>

        
        <section class="section-articulos">

            <article class="hombre">  
                    <img src="static/images/index/foto-modelo.jpg" alt="modelo-hombre">
                <div class="titulo-articulo"> 
                    <h3>HOMBRE</h3> 
                </div> 
            </article>

            <article class="mujer">  
                    <img src="static/images/index/foto-modelo.jpg" alt="modelo-mujer">
                <div class="titulo-articulo"> 
                    <h3>MUJER</h3> 
                </div> 
            </article>

            <article class="deportes">  
                    <img src="static/images/index/foto-modelo.jpg" alt="modelo-deportes">
                <div class="titulo-articulo"> 
                    <h3>DEPORTES</h3> 
                </div> 
            </article>

            <article class="coleccion">  
                    <img src="static/images/index/foto-modelo.jpg" alt="modelo-coleccion">
                <div class="titulo-articulo"> 
                    <h3>COLECCIÓN</h3> 
                </div> 
            </article>      

         </section>
    </main>

    <footer>
        
    </footer>
</body>
</html>