<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <title>Zapas Design</title>
</head>
<body>
    
    <header>
        <nav>
            <section class="opciones-barra-navegacion-left">    
                <a href="#" class="icono-menu-hamburguesa"><i class="fas fa-bars fa-2x"></i></a>
                <a href="#" class="icono-lupa"><i class="fas fa-search fa-2x"></i></a>
            </section>

            <a href="#" class="logo-zapas-design-white"><img src="static/img/logo-zapas-design-white.svg" alt="logo-zapas-design-white"></a>
            
            <section class="opciones-barra-navegacion-right">
                <a href="#" class="icono-usuario-login"><i class="fas fa-user fa-2x"></i></a>
                <a href="#" class="icono-carrito-de-compras"><i class="fas fa-cart-plus fa-2x"></i></a>
            </section>
        </nav>
    </header>

    <main>
        <section class="section-descripcion">
            <p>
                Breve descripcion de la imagen. Esto es Zapas Design. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <i class="fas fa-angle-double-down fa-2x"></i>
        </section>

        
        <section class="section-articulos">

            <article class="hombre">  
                    <a href="#" class="hombre-filtro"><img src="static/images/index/foto-modelo.jpg" alt="modelo-hombre"></a>
                <div class="titulo-articulo"> 
                    <h3>HOMBRE</h3> 
                </div> 
            </article>

            <article class="mujer">  
                <a href="#" class="mujer-filtro"><img src="static/images/index/foto-modelo.jpg" alt="modelo-mujer"></a>
                <div class="titulo-articulo"> 
                    <h3>MUJER</h3> 
                </div> 
            </article>

            <article class="deportes">  
                <a href="#" class="deportes-filtro"><img src="static/images/index/foto-modelo.jpg" alt="modelo-deportes"></a>
                <div class="titulo-articulo"> 
                    <h3>DEPORTES</h3> 
                </div> 
            </article>

            <article class="coleccion">  
                <a href="#" class="coleccion-filtro"><img src="static/images/index/foto-modelo.jpg" alt="modelo-coleccion"></a>
                <div class="titulo-articulo"> 
                    <h3>COLECCIÓN</h3> 
                </div> 
            </article>      

         </section>
    </main>

    <footer>
        <section class="redes-sociales">
            <a href="https://www.instagram.com" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/" target="_blank class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.whatsapp.com/?lang=es" target="_blank class="wpp"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.linkedin.com/" target="_blank class="linkedin"><i class="fab fa-linkedin-in"></i></a>
        </section>        
    </footer>
</body>
</html>