<%- include('./partials/head', {
    css:"index", 
    header:"headerWhite", 
    footer: "footerWhite",
    title: "Zapas Design"
} )%>


<body>
    
<%- include('./partials/header', {urlLogo: "static/img/logo-zapas-design-white.svg"}) %>

    <main>
        <section class="section-descripcion">
            <p>
                Breve descripcion de la imagen. Esto es Zapas Design. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <i class="fas fa-angle-double-down fa-2x"></i>
        </section>

        
        <section class="section-articulos">

            <article class="hombre">  
                    <a href="#" class="hombre-filtro"><img src="static/images/index/foto-modelo.jpg" alt="modelo-hombre"></a>
                <div class="titulo-articulo"> 
                    <h3>HOMBRE</h3> 
                </div> 
            </article>

            <article class="mujer">  
                <a href="#" class="mujer-filtro"><img src="static/images/index/foto-modelo.jpg" alt="modelo-mujer"></a>
                <div class="titulo-articulo"> 
                    <h3>MUJER</h3> 
                </div> 
            </article>

            <article class="deportes">  
                <a href="#" class="deportes-filtro"><img src="static/images/index/foto-modelo.jpg" alt="modelo-deportes"></a>
                <div class="titulo-articulo"> 
                    <h3>DEPORTES</h3> 
                </div> 
            </article>

            <article class="coleccion">  
                <a href="#" class="coleccion-filtro"><img src="static/images/index/foto-modelo.jpg" alt="modelo-coleccion"></a>
                <div class="titulo-articulo"> 
                    <h3>COLECCIÓN</h3> 
                </div> 
            </article>      
           
            <article class="todos">  
                <a href="/products" class="coleccion-filtro"><img src="static/images/index/foto-modelo.jpg" alt="modelo-coleccion"></a>
                <div class="titulo-articulo"> 
                    <h3>TODOS</h3> 
                </div> 
            </article>      

         </section>
    </main>

    <%- include('./partials/footer') %>
    
</body>
</html>