<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/productDetail.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
   
    <title>Product Detail</title>
</head>
<body>
    <header>
        <nav>
            <section class="opciones-barra-de-navegacion-left">
                <a href="#" class="icono-flecha"><i class="fas fa-arrow-left fa-2x"></i></a>
                <a href="#" class="icono-carrito-de-compras"><i class="fas fa-cart-plus fa-2x"></i></a>
                
            </section>
            
            <a href="/" class="logo-Zapas-Design"><img src="static/img/logo-Zapas-Design.svg" alt="logo-Zapas-Design"></a>
            
            <section class="opciones-barra-navegacion-right">
                <a href="#" class="icono-usuario-login"><i class="fas fa-user fa-2x"></i></a>
                <a href="#" class="icono-menu-hamburguesa"><i class="fas fa-bars fa-2x"></i></a>
                
            </section>
        </nav>
    </header>

    <main>
        <img class="imagen-producto" src="static/images/productos/zapas-prueba.jpg" alt="imagen producto">
        <div class="info-producto">
            <h1 class="nombre-producto">Nombre del producto</h1>
            <p class="marca-precio">Marca y precio</p>
            <p class="descripcion">Descripción Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis odit natus laudantium possimus accusantium quisquam reprehenderit deserunt illo, illum quos, officiis sed. Earum dicta odit debitis culpa quam quis iste?</p>
            <section class="section-talles">
                <p class="titulo-talles">Talles:</p>
                <div class="div-talles">
                    <div class="div-radio-talle">
                        <input class="radio-talle" type="radio" value="38" id="talle38" name="talle" hidden>
                        <label class="boton-talle" for="talle38">38</label>
                    </div>
                    <div class="div-radio-talle">
                        <input class="radio-talle" type="radio" value="40" id="talle40" name="talle" hidden>
                        <label class="boton-talle" for="talle40">40</label>
                    </div>
                    <div class="div-radio-talle">
                        <input class="radio-talle" type="radio" value="41" id="talle41" name="talle" hidden>
                        <label class="boton-talle" for="talle41">41</label>
                    </div>
                    <div class="div-radio-talle">
                        <input class="radio-talle" type="radio" value="42" id="talle42" name="talle" hidden>
                        <label class="boton-talle" for="talle42">42</label>
                    </div>
                </div>
            </section>
            <button class="añadir-al-carrito">Añadir al carrito</button>
        </div>
    </main>

</body>
</html>