<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/productCart.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <title>Product Cart</title>
</head>
<body>
    <header>
        <nav>
            <a href="#" class="icono-flecha"><i class="fas fa-arrow-left fa-2x"></i></a>
            <a href="#" class="logo-Zapas-Design"><img src="static/img/logo-Zapas-Design.svg" alt="logo-Zapas-Design"></a>
            
            <section class="opciones-barra-navegacion-right">
                <a href="#" class="icono-usuario-login"><i class="fas fa-user fa-2x"></i></a>
                <a href="#" class="icono-menu-hamburguesa"><i class="fas fa-bars fa-2x"></i></a>
            </section>
        </nav>
    </header>
    <main>
        <div class="contenedor-carrito-compras">
            <div class="contenedor-productos">       
                <section class="foto-producto">
                    <img src="https://images.pexels.com/photos/6050917/pexels-photo-6050917.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="#">
                </section>
                <section class="descripcion-producto">
                    <span class="talla-producto">
                        talle: 42
                        <a href="#" class="opcion-editar">Editar</a>
                    </span>
                    <span class="nombre-producto">Nombre: Jordan I</span>
                    <span class="precio-producto">Precio: 200 USD</span>
                    <div class="añadir-productos">
                        <button><i class="fas fa-minus-circle"></i></button>
                        <span>Cant.</span> 
                        <span>1 </span>
                        <button><i class="fas fa-plus-circle"></i></button>
                    </div>
                </section>
            </div>
            <div class="contenedor-productos">       
                <section class="foto-producto">
                    <img src="https://images.pexels.com/photos/6050917/pexels-photo-6050917.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="#">
                </section>
                <section class="descripcion-producto">
                    <span class="talla-producto">
                        talle: 42
                        <a href="#" class="opcion-editar">Editar</a>
                    </span>
                    <span class="nombre-producto">Nombre: Jordan I</span>
                    <span class="precio-producto">Precio: 200 USD</span>
                    <div class="añadir-productos">
                        <button><i class="fas fa-minus-circle"></i></button>
                        <span>Cant.</span> 
                        <span>1 </span>
                        <button><i class="fas fa-plus-circle"></i></button>
                    </div>
                </section>
            </div>
        </div>
        <div class="resumen-pedido">
            <span class="texto-resumen-producto">RESUMEN DEL PEDIDO</span>
            <div class="resumen-producto">
                <span>Jordan I</span>
                <span>200 USD</span>
            </div>
            <div class="resumen-producto">
                <span>Jordan I</span>
                <span>200 USD</span>
            </div>
            <div class="resumen-envio">
                <span>Total</span>
                <span>5 USD</span>
            </div>
            <div class="boton-pago">
                <button href="#">IR A PAGAR</button>
            </div>
        </div>
    </main>
    <footer>
        <div class="contenedor-footer">
            <section class="links-informacion-adicional">
                <a href="#">Terminos y condiciones</a>
                <a href="#">Sobre nosotros</a>
                <a href="#">Contacto</a>
                <a href="#">Ubicación</a>
            </section>
            <section class="redes-sociales">
                <a href="https://www.instagram.com" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/" target="_blank class="facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.whatsapp.com/?lang=es" target="_blank class="wpp"><i class="fab fa-whatsapp"></i></a>
            </section>
        </div>
    </footer>
</body>
</html>