<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/productDetail.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
   
    <title>Product Detail</title>
</head>
<body>
    <header>
        <nav>
            <section class="opciones-barra-de-navegacion-left">
                <a href="#" class="icono-flecha"><i class="fas fa-arrow-left fa-2x"></i></a>
                <a href="#"><i class="fas fa-shopping-cart fa-2x"></i></a>
            </section>
            
            <a href="#" class="logo-Zapas-Design"><img src="static/img/logo-Zapas-Design.svg" alt="logo-Zapas-Design"></a>
            
            <section class="opciones-barra-navegacion-right">
                <a href="#" class="icono-usuario-login"><i class="fas fa-user fa-2x"></i></a>
                <a href="#" class="icono-menu-hamburguesa"><i class="fas fa-bars fa-2x"></i></a>
            </section>
        </nav>
    </header>

    <main>
        <h1 class="nombre-producto">Nombre del producto</h1>
        <img class="imagen-producto" src="static/images/index/foto-modelo.jpg" alt="imagen producto">
        <p class="marca-precio">Marca y precio</p>
        <p>Descripción</p>
        <div class="div-talles">
            <p class="boton-talle">38</p>
            <p class="boton-talle">40</p>
            <p class="boton-talle">41</p>
            <p class="boton-talle">42</p>
        </div>
        <button class="añadir-al-carrito">Añadir al carrito</button>
    </main>

</body>
</html>