<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/productCart.css">
    <title>Zapas Design</title>
</head>
<body>
    <header>
        <nav>
            <a href="#" class="icono-flecha"><i class="fas fa-arrow-left fa-2x"></i></a>
            <a href="#" class="logo-Zapas-Design"><img src="static/img/logo-Zapas-Design.svg" alt="logo-Zapas-Design"></a>
            
            <section class="opciones-barra-navegacion-right">
                <a href="#" class="icono-usuario-login"><i class="fas fa-user fa-2x"></i></a>
                <a href="#" class="icono-menu-hamburguesa"><i class="fas fa-bars fa-2x"></i></a>
            </section>
        </nav>
    </header>
    <main>
        <div class="contenedor-productos">       
            <section class="foto-producto">
                <img src="#" alt="#">
            </section>
            <section class="descripcion-producto">
                <span class="talla-producto">
                    talle: 42
                    <a href="#" class="opcion-editar">Editar</a>
                </span>
                <span class="nombre-producto">Nombre: Jordan I</span>
                <span class="precio-producto">Precio: 200 USD</span>
            </section>
            <section class="añadir-productos">
                <a href="#">+</a>
                <a href="#">-</a>
                <a href="#">basura</a>
                <div>
                    <span>Cant.</span> 
                    <span>1 </span>
                </div>
            </section>
        </div>
        <div class="contenedor-productos">       
            <section class="foto-producto">
                <img src="#" alt="#">
            </section>
            <section class="descripcion-producto">
                <span class="talla-producto">
                    talle: 42
                    <a href="#" class="opcion-editar">Editar</a>
                </span>
                <span class="nombre-producto">Nombre: Jordan I</span>
                <span class="precio-producto">Precio: 200 USD</span>
            </section>
            <section class="añadir-productos">
                <a href="#">+</a>
                <a href="#">-</a>
                <a href="#">basura</a>
                <div>
                    <span>Cant.</span> 
                    <span>1 </span>
                </div>
            </section>
        </div>
        <div class="resumen-pedido">
            <span class="texto-resumen-producto">RESUMEN DEL PEDIDO</span>
            <div class="resumen-producto">
                <span>Jordan I</span>
                <span>200 USD</span>
            </div>
            <div class="resumen-producto">
                <span>Jordan I</span>
                <span>200 USD</span>
            </div>
            <div class="resumen-envio">
                <span>Total</span>
                <span>5 USD</span>
            </div>
            <div class="boton-pago">
                <input type="button" placeholder="IR A PAGAR">
            </div>
        </div>
    </main>
    <footer>
        <section class="links-informacion-adicional">
            <a href="#">Terminos y condiciones</a>
            <a href="#">Sobre nosotros</a>
            <a href="#">Contacto</a>
            <a href="#">Ubicación</a>
        </section>
        <section class="redes-sociales">
            <a href="#">Fb</a>
            <a href="#">Insta</a>
            <a href="#">Twitter</a>
        </section>
    </footer>
</body>
</html>