<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    

    <title>Formulario Registro</title>

    

</head>
<header>
    <nav>
        <section class="opciones-barra-navegacion-left">    
            <a href="#" class="icono-menu-hamburguesa"><i class="fas fa-bars fa-2x"></i></a>
            <a href="#" class="icono-lupa"><i class="fas fa-search fa-2x"></i></a>
        </section>

        <a href="#" class="logo-zapas-design-white"><img src="static/img/logo-zapas-design-white.svg" alt="logo-zapas-design-white"></a>
        
        <section class="opciones-barra-navegacion-right">
            <a href="#" class="icono-usuario-login"><i class="fas fa-user fa-2x"></i></a>
            <a href="#" class="icono-carrito-de-compras"><i class="fas fa-cart-plus fa-2x"></i></a>
            
        </section>
    </nav>
    <link rel="stylesheet" href="static\css\register.css">
</header>
<body>
    <main>
    <section class="formulario">
        <h1>REGISTRARSE</h1>
        
        <form action="/login" method="get">
            <div class="email-password">
                <input type="text" name="nombre" placeholder="Nombre"  class="placeholder" >
            </div>
            <div class="email-password">
                <input type="text" name="apellido" placeholder="Apellido" class="placeholder">
            </div>
            <div class="email-password">
                <input type="email" name="email" placeholder="Email" class="placeholder">
            </div>
            <div class="email-password">
                <input type="password" name="password" placeholder="Contraseña" class="placeholder">
            </div>
            <div class="login-register">
                <button class="login" class="placeholder" type="submit">REGISTRARSE</button>
            </div>
        </form>

        <div class="login-register">
            <a href="#" class="register" target="_blank">Acepto Terminos y Condiciones</a>
        </div>
        </main>
    </section>
</body>
</html>