:root{
    --titulos: 21px;
    --subtitulos: 18px;
    --descripciones: 16px;
    --infomación-secundaria: 12px;
    --fuente-de-texto: 'Khand', sans-serif;
    --ligth:300;
    --normal: 500;
    --negrita: 700;
    --gris:#222226;
    --color:#6DE51E;
}

*{
    box-sizing: border-box;
}


/* BARRA DE NAVEGACION */

header{
    width: 100%;
}


nav {
    margin: 0;
    display: grid;
    grid-template-columns: [column1] 1fr [column2] 1fr [column3] 1fr ;
    grid-template-rows: 50px;
    align-items: center;
    border-bottom: 1px solid #7c7777;
}

nav i{
    color: var(--gris);
}

nav i:hover{
    color: var(--color);
    font-size: 2.5rem;
}

.logo-zapas-design-white{
    text-align: center;    
}

.logo-zapas-design-white img{
    width: 200px;
    height: 45px;
    object-fit: contain;
}

.opciones-barra-navegacion-left{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}
.opciones-barra-navegacion-right{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

/* CUERPO */

main{
    display: flex;
    flex-direction: column;
}

main section{
    text-align: center;
}

.register{
    text-decoration: none;
}


/* FOOTER */

footer{
    margin-top: 20px;
}

.redes-sociales{
    text-align: center;
}

.redes-sociales a{
    color: var(--gris);
    margin: 4px;
}

.redes-sociales a:hover{
    color: var(--color);
    padding: 8px;
}