* {
  box-sizing: border-box;
}
body {
  font-family: var(--fuente-de-texto);
  font-weight: var(--ligth);

}

.perfilUsuario {

  margin: auto;
  margin-top: 5%;
  width: 350px;
  height: 500px;
  background: var(--gris);
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #100a886b;
}

.perfilUsuario .perfilUsuario-top {
  width: 60%;
  height: 3%;
  background: var(--color);
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.perfilUsuario span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  margin-top: 15px;
  padding-top: 10px;
  font-size: 1.5rem;
}

.emailUsuario {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 1.5rem;
}

.contenedor-imgPerfil {
  width: 50%;
  background: var(--gris);
  border-radius: 50%;
  margin: auto;
  margin-top: 25px;
  display: flex;
}

.imgPerfil{
 width: 100%;
 height: 100%;
 border-radius: 50%;
 object-fit: contain;
 justify-content: center;
 align-items: center ;
}

.submit button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #606061;
  color: white;
  font-weight: 600;
  transition: all 300ms ease-in-out;
}

.submit button:hover {
  background: var(--color);
  color: var(--gris);
}

