* {
    box-sizing: border-box;
}
body{
        font-family: var(--fuente-de-texto);
        font-weight: var(--ligth);
}

.perfilUsuario {
        width: 190px;
        height: 254px;
        background: #f0f0f0;
        border-radius: 10px;
        text-align: center;
        transition: all 0.5s;
}

.imgPerfil {
    
        display: flex;
        margin: 30px auto 10px auto;
        width: 70px;
        height: 70px;
        background-color: #4bb8ff;
        border-radius: 50%;
        font-size: 11px;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
       
}

.infoUsuario li {
        padding: 15px 10px;
        font-size: 25px;
        transition: all 0.1s;
        line-height: 17px;
}
