:root{
    --titulos: 21px;
    --subtitulos: 18px;
    --descripciones: 16px;
    --infomación-secundaria: 12px;
    --fuente-de-texto: 'Khand', sans-serif;
    --ligth:300;
    --normal: 500;
    --negrita: 700;
    --gris:#222226;
    --color:#6DE51E;
}



*{
    box-sizing: border-box;
}

a {
    color: var(--gris);
    text-decoration: none;
    flex-direction: column;
    display: flex;
    align-items: center;
}

body{
    font-family: var(--fuente-de-texto);
    font-weight: var(--normal);
}

h1{
    text-align: center;
}

.div-listas{
    flex-direction: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.lista-productos{
    display: flex;
    align-items: center;
    width: 25%;
    margin: 30px 5px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 10px 1px var(--gris);
    -moz-box-shadow: 0px 4px 10px 1px var(--gris);
    box-shadow: 0px 4px 10px 1px var(--gris);  
    transition: all 500ms;
}

.lista-productos:hover{
    -webkit-box-shadow: 0px 4px 10px 1px var(--color);
    -moz-box-shadow: 0px 4px 10px 1px var(--color);
    box-shadow: 0px 4px 10px 1px var(--color);

    transform: scale(105%);
}


h3{
    font-size: 1.2rem;
    transition: all 500ms;
}

.lista-productos:hover h3{
    transform:scale(120%);
}


.lista-productos img{
    width: 50%;
}

.plus{
    transition: all 500ms;
}

.lista-productos:hover .plus{
    transform:scale(110%);
}