:root{
    --titulos: 21px;
    --subtitulos: 18px;
    --descripciones: 16px;
    --infomación-secundaria: 12px;
    --fuente-de-texto: 'Khand', sans-serif;
    --ligth:300;
    --normal: 500;
    --negrita: 700;
    --gris:#222226;
    --color:#6DE51E;
}

* {
    box-sizing: border-box;
}

body{
    font-family: var(--fuente-de-texto);
}

/* BARRA DE NAVEGACIÓN */
header{
    width: 100%;
}

nav {
    margin: 0;
    display: grid;
    grid-template-columns: [column1] 1fr [column2] 1fr [column3] 1fr ;
    grid-template-rows: 50px;
    align-items: center;
    border-bottom: 1px solid #7c7777;
}

nav i{
    color: var(--gris);
}

nav i:hover{
    color: var(--color);
    padding: 8px;
}

.logo-Zapas-Design{
    text-align: center;
    
}

.logo-Zapas-Design img{
    width: 200px;
    height: 45px;
    object-fit: contain;
}
.opciones-barra-navegacion-right{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

/* RESUMEN PRODUCTOS A COMPRAR */
main{
    height: 100%;
    width: 100%;
}

.contenedor-productos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 220px;
    border-bottom: 1px solid #7c7777;
}
.foto-producto{
    width: 40%;
    display: flex;
    justify-content: center;
}
.descripcion-producto{
    font-size: var(--descripciones);
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.añadir-productos{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.resumen-pedido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 220px;
    border-bottom: 1px solid #7c7777;

}
.texto-resumen-producto{
    font-size: var(--subtitulos);
    margin: 30px auto;
    font-weight: bold;
}
.resumen-producto{
    font-size: var(--descripciones);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.resumen-envio{
    font-size: var(--descripciones);

    width: 100%;
    display: flex;
    justify-content: space-between;
}

.boton-pago{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    margin: 20px;
}

.boton-pago input{
    width: 80%;
    height: 20px;
    
}

/* BARRA DE NAVEGACIÓN FOOTER */

footer{
    position: absolute;
    bottom:0;
    padding: 8px;
    width: 100%;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
}

.links-informacion-adicional{
    font-size: var(--descripciones);
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
}
.redes-sociales{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}



@media (min-width: 480px) {
    
    .icono-menu-hamburguesa{
        margin-left: 50px;
    }
    .opciones-barra-navegacion{
        margin-right: 50px ;
        gap: 30px;
    }

}