:root{
    --titulos: 21px;
    --subtitulos: 18px;
    --descripciones: 16px;
    --infomación-secundaria: 12px;
    --fuente-de-texto: 'Khand', sans-serif;
    --ligth:300;
    --normal: 500;
    --negrita: 700;
    --gris:#222226;
    --color:#6DE51E;
    --celeste: #45B5D9;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--fuente-de-texto);
    font-weight: var(--normal);
}


/*MAIN*/

main {
    text-align: center;
}

.nombre-prodcuto {
    font-size: var(--titulos);
}

.imagen-producto {
    width: 100%;
}

.marca-precio {
    font-size: var(--descripciones);
    font-weight: var(--negrita);
}



.titulo-talles {
    font-size: var(--descripciones);
    font-weight: var(--negrita);
}

.div-talles {
    margin: auto;
    margin-top: 5px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.boton-talle {
    color: var(--celeste);
    border: var(--celeste) solid 1px;
    border-radius: 5px;
    padding: 0px 9px;
    transition: all 500ms;
}

.boton-talle:hover {
    background-color: var(--celeste);
    color: white;
}

.radio-talle:checked + .boton-talle {
    background-color: var(--celeste);
    color: white;
}

.añadir-al-carrito {
    margin-top: 10px;
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 5px;
    padding: 8px;
    font-size: var(--descripciones);
}



@media (min-width: 720px) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }


    .imagen-producto {
        height: auto;
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 20px;
    }

    .info-producto {
        width: 50%;
        text-align: start;
        margin-top: 20px;
    }

    .nombre-producto {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .descripcion {
        width: 50%;
        margin-bottom: 20px;
    }

    .section-talles {
        margin-bottom: 20px;
    }

    .div-talles {
        justify-content: space-between;
        margin-left: 0;
        width: 20%
    }

}

