
:root{
    --titulos: 21px;
    --subtitulos: 18px;
    --descripciones: 16px;
    --infomación-secundaria: 12px;
    --fuente-de-texto: 'Khand', sans-serif;
    --ligth:300;
    --normal: 500;
    --negrita: 700;
    --gris:#222226;
    --color:#6DE51E;
}
*{
    box-sizing: border-box;
}



body{
    background-image: url(../images/index/zapatillas-portada.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:fixed;
    background-size: cover;
    font-family: var(--fuente-de-texto);
    font-weight: var(--ligth);
}

/* CUERPO */

main{
    display: flex;
    flex-direction: column;
}

main section{
    text-align: center;
}



.portada h2{
    font-size: 4rem;
    color: white;
    font-weight: var(--ligth);
    margin: 5% 0px auto 0px;
    padding: 0px;
}




/* FORMULARIO // LOGIN */



.formulario h1{
    color: var(--color);
    font-size: 2rem;
}

.email-password{
    margin: 15px auto;
}


form input{
    width: 50%;
    height: 40px;
    border-radius: 8px;
    text-align: center;
}

.login-register{
    margin: 10px;
}

.login{
    width: 40%;
    font-size: 1rem;
    color: white;
    background-color: var(--gris);
    padding: 5px;
    border-radius: 5px;
    transition: all 500ms;
}

.login:hover{
    color: #222226;
    background-color: var(--color);
}

.register{
    text-decoration: none;
    color: white;    
    transition: all 500ms;
}

.register:hover{
    color: var(--color);
}

.placeholder{
    font-family: var(--fuente-de-texto);
    font-size: 1rem;
}


@media (min-width: 480px){
    .login{
        width: 25%;
    }
}